@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$gap: 10px;

//app + board + content
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height:88vh;

//colorr
$app-text-main-color: #333;
$board-bg-board: #0079bf;
$input-border-color: #0079bf;
$common-e-bg:rgba(255,255,255, .24);
$column-bg-color: #ebecf0; 
$alert-danger: #ee5253;

$screen-lg: 1201px;
$screen-md: 992px;
$screen-lg: 768px;
$screen-phone: 480px;
$screen-lg: 1201px;

$column-border-radius: 4px;