@import './_setting.scss'; 


body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    // box-sizing: border-box;
}

.task-manager-master{
    height: 100vh;  
    background-color: $board-bg-board;
    overflow: hidden;
    color: $app-text-main-color;
    .icon {
        font-size: 14px;
        margin-right: 4px;
    }
}

